html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0px 0px 5px 0px gray;
    background-color: #FFFFFF;
}

table tr td {
    padding: 5px;
    
}

a {
    text-decoration: none;
    color: black;
}

.home:hover, .about:hover, .services:hover, .contacts:hover {
    color: #4070F4;
    font-weight: bold;
}

.header-title {
    color: #4070F4;
    font-weight: bold;
    font-size: 20px;
}

/* CLASS "PROFILE HOLDER" */

.profile-holder {
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: row;
}

.profile {
    width: 50%;
}

.greetings {
    font-size: 50px;
}

.span1 {
    color: #4070F4  ;
}

.explore-btn {
    font-size: 20px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #4070F4;
    color: white;
}

.explore-btn:hover {
    border-color: #4070F4;
    background-color: transparent;
    color: #4070F4;
    transition: 0.5s ease;
}

.image-holder {
    margin: auto;
    width: 50%;
    /* padding: 40px 60px; */
    padding: 0;
}

.profile-img {
    width: 400px;
    
}

/* ABOUT HOLDER */


.About-holder {
    box-shadow: 0 0 5px 0 gray;
    padding: 50px;
}

.About-holder h1, .About-holder h2 {
    color: #1A73E8;
}

.aboutme-d {
    font-size: large;
    text-align: justify;
}

.abouts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cpc-link {
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

.Professional-holder, .Journey-holder, .Values-holder {
    padding: 10px 30px;
    font-size: 15px;
    margin: 20px;
    width: 30%;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
}

.Professional-holder:hover, .Journey-holder:hover, .Values-holder:hover {
    box-shadow: 0px 0px 8px 0px gray;
}

.Professional-holder h2, .Journey-holder h2, .Values-holder h2 {
    text-align: center;
}

.Professional-holder p, .Journey-holder p, .Values-holder p {
    text-align: justify;
}

.abouts-3 {
    text-align: left;
}


/* SERVICES HOLDER */

.Services {
    box-shadow: 0 0 5px 0 gray;
    padding: 50px;
}

.Services h1 {
    color: #1A73E8;
}

.Services-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.services1, .services2, .services3  {
    padding: 10px 30px;
    font-size: 15px;
    margin: 20px;
    width: 30%;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.services1 i, .services2 i, .services3 i {
    font-size: 2em;
    margin-right: 10px;
}

.services1 h2, .services2 h2, .services3 h2 {
    text-align: left;
    color: #4070F4;
}

.services1:hover, .services2:hover, .services3:hover {
    box-shadow: 0px 0px 8px 0px gray;
    background-color: #4070F4;
    transition: all 0.5s ease;
    transform: translateY(-10px);
    color: white;
}

.services1:hover h2, .services2:hover h2, .services3:hover h2,
.services1:hover p, .services2:hover p, .services3:hover p {
    color: white;
}

.services1 p, .services2 p, .services3 p {
    text-align: justify;
}

/* CONTACT HOLDER */

.Contact-holder {
    box-shadow: 0 0 5px 0 gray;
    padding: 50px;
}

.Contact-holder h1, .Contact-holder h2 {
    color: #1A73E8;
}
