html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0px 0px 5px 0px gray;
    background-color: #FFFFFF;
}

table tr td {
    padding: 5px;
    
}

a {
    text-decoration: none;
    color: black;
}

.home:hover, .about:hover, .services:hover, .contacts:hover {
    color: #4070F4;
    font-weight: bold;
}

.header-title {
    color: #4070F4;
    font-weight: bold;
    font-size: 20px;
}

/* CLASS "PROFILE HOLDER" */

.profile-holder {
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: row;
}

.profile {
    width: 50%;
}

.greetings {
    font-size: 50px;
}

.span1 {
    color: #4070F4  ;
}

.explore-btn {
    font-size: 20px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #4070F4;
    color: white;
    transition: all 0.5s ease;
}

.explore-btn:hover {
    border-color: #4070F4;
    background-color: transparent;
    color: #4070F4;
}

.image-holder {
    margin: auto;
    width: 50%;
    /* padding: 40px 60px; */
    padding: 0;
}

.profile-img {
    width: 400px;
    
}

/* ABOUT HOLDER */

#about {
    box-shadow: 0 0 5px 0 gray;
    padding: 50px;
    height: 500px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle {
    font-weight: 600;
    color: #1A73E8;
}

.tab-titles {
    display: flex;
    margin: 20px 0 20px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #1A73E8;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents p {
    text-align: justify;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #1A73E8;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/* SERVICES HOLDER */

.Services {
    box-shadow: 0 0 5px 0 gray;
    padding: 50px;
}

.Services h1 {
    color: #1A73E8;
}

.Services-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.services1, .services2, .services3  {
    padding: 10px 30px;
    font-size: 15px;
    margin: 20px;
    width: 30%;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.services1 i, .services2 i, .services3 i {
    font-size: 2em;
    margin-right: 10px;
}

.services1 h2, .services2 h2, .services3 h2 {
    text-align: left;
    color: #4070F4;
}

.services1:hover, .services2:hover, .services3:hover {
    box-shadow: 0px 0px 8px 0px gray;
    background-color: #4070F4;
    transition: all 0.5s ease;
    transform: translateY(-10px);
    color: white;
}

.services1:hover h2, .services2:hover h2, .services3:hover h2,
.services1:hover p, .services2:hover p, .services3:hover p {
    color: white;
}

.services1 p, .services2 p, .services3 p {
    text-align: justify;
}

/* CONTACT HOLDER */

.Contact-holder {
    box-shadow: 0 0 5px 0 gray;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.Contact-holder h1, .Contact-holder h2 {
    color: #1A73E8;
}

.table-p-holder tr:hover {
    cursor: pointer;
}

.contact-info {
    width: 40%;
    border: 3px solid #1A73E8;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-radius: 20px;
    padding-left: 20px;
}

.table-icon-holder tr td {
    font-size: 25px;
    text-align: center;
    width: 30px;
    height: 50px;
}

.table-icon-holder tr td a {
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.table-icon-holder tr td a:hover {
    font-size: larger;
}

.contact-message {
    padding: 20px;
    width: 60%;
}

.contact-message input, .contact-longmessage {
    border: 2px solid transparent;
    box-shadow: 0 0 2px 0 gray;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 10px 0;
    transition: border 0.3s ease;
}

.contact-message input:hover, .contact-longmessage:hover {
    border: 2px solid #1A73E8;
}

.contact-message input:focus, .contact-longmessage:focus {
    outline-color: #1A73E8;
}

.contact-submit-btn {
    width: 150px;
    height: 40px;
    border: 2px solid transparent;
    background-color: #4070F4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-submit-btn:hover {
    background-color: transparent;
    color: #1A73E8;
    border-color: #1A73E8;
    font-weight: bold;
}

@media screen and (max-width: 475px) {

    .profile-holder, #about, .Services, .Contact-holder {
        border: 2px solid green;
        overflow: hidden; 
    }

    body {
        padding: 0;
        margin: 0;
    }

    header {
        font-size: small;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        margin: 0;
    }

    .header-title {
        font-size: 20px;
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        margin-right: 50px;
    }

    nav table {
        width: auto;
        white-space: nowrap;
    }

    nav table tr td {
        padding: 0 5px;
    }

    nav a {
        font-size: 14px;
    }

    /* Profile */

    .greetings {
        font-size: 35px;
    }

    .explore-btn {
        font-size: medium;
    }

    .profile-img {
        width: 100%;
    }

    /* About Part */

    #about {
        height: 700px;
    }

    .subtitle {
        font-size: 25px;
    }

    .about-col-2 p {
        font-size: 15px;
        text-align: justify;
    }

    .about-col-2 ul li {
        font-size: 15px;
    }

    /* Services Part */

    .Services h1 {
        font-size: 25px;
    }

    .Services-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .services1, .services2, .services3 {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        width: 40%;
        padding: 5px;
    }

    .services1, .services2, .services3 {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        width: 45%;
        padding: 5px 10px;
        margin: 5px;
        box-shadow: 0px 0px 5px 0px gray;
        border-radius: 10px;
        transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    }

    .services1 i, .services2 i, .services3 i {
        font-size: 1.5em;
        margin-right: 5px;
    }

    .services1 h2, .services2 h2, .services3 h2 {
        text-align: left;
        color: #4070F4;
    }

    .services1:hover, .services2:hover, .services3:hover {
        box-shadow: 0px 0px 8px 0px gray;
        background-color: #4070F4;
        transition: all 0.5s ease;
        transform: translateY(-10px);
        color: white;
    }

    .services1:hover h2, .services2:hover h2, .services3:hover h2,
    .services1:hover p, .services2:hover p, .services3:hover p {
        color: white;
    }

    .services1 p, .services2 p, .services3 p {
        text-align: justify;
        font-size: 13px;
    }

    /* Contact Me Part */

    .Contact-holder {
        padding: 20px;
    }

    .contact-info {
        margin: 0 20px;
    }

    .Contact-holder h1 {
        font-size: 25px;
    }

    .table-p-holder tr td {
        font-size: 13px;
    }

    .contact-message input, .contact-message textarea {
        padding: 5px;
        font-size: 13px;
    }

}